<section class="container">
	<i>Get the <span>$10</span> coupon</i>
	<h3>
		Sign in to our newsletter and receive a ten dollars coupon
	</h3>
	<form name="subscriptionForm" novalidate ng-controller="SubscriptionController as subscription" ng-submit="subscriptionForm.$valid && subscription.subscribe()">
		<span class="text-danger" ng-show="(subscriptionForm.email.$dirty || subscriptionForm.$submitted) && subscriptionForm.email.$error.required">Email is Required!</span>
		<span class="text-danger" ng-show="(subscriptionForm.email.$dirty || subscriptionForm.$submitted) && subscriptionForm.email.$error.email">Please, enter valid email!</span>
		<div class="form-group">
			<input type="email" class="form-control" placeholder="Enter here your email address" name="email" ng-model="subscription.email" required>
			<button type="submit" class="btn btn-default">+</button>
		</div>
	</form>
</section>