<div class="modal-header">
  <h3 class="modal-title">Register</h3>
</div>
<div class="modal-body">
  <form id="registerForm" name="registerForm" ng-submit="registerForm.$valid && register.submit()" novalidate>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <p class="text-danger" ng-show="(registerForm.firstName.$dirty || registerForm.$submitted) && registerForm.firstName.$error.required">First Name is Required!</p>
      <input id="firstName" type="text" placeholder="Enter Your First Name" class="form-control" name="firstName" ng-model="register.credentials.firstName" required>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <p class="text-danger" ng-show="(registerForm.lastName.$dirty || registerForm.$submitted) && registerForm.lastName.$error.required">Last Name is Required!</p>
      <input id="lastName" type="text" placeholder="Enter Your Last Name" class="form-control" name="lastName" ng-model="register.credentials.lastName" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <p class="text-danger" ng-show="(registerForm.email.$dirty || registerForm.$submitted) && registerForm.email.$error.required">Email is Required!</p>
      <p class="text-danger" ng-show="(registerForm.email.$dirty || registerForm.$submitted) && registerForm.email.$error.email">Please, enter valid email!</p>
      <input id="email" type="email" placeholder="Enter Your Email" class="form-control" name="email" ng-model="register.credentials.email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <p class="text-danger" ng-show="(registerForm.password.$dirty || registerForm.$submitted) && registerForm.password.$error.required">Password is Required!</p>
      <p class="text-danger" ng-show="(registerForm.password.$dirty || registerForm.$submitted) && registerForm.password.$error.minlength">Password should contain at least 6 characters!</p>
      <input id="password" type="password" placeholder="Enter Your Password" class="form-control" name="password" ng-model="register.credentials.password" required minlength="6">
    </div>
    <div class="form-group">
      <label for="confirm">Confirm Password</label>
      <p class="text-danger" ng-show="(registerForm.confirm.$dirty || registerForm.$submitted) && registerForm.confirm.$error.required">Confirmation is Required!</p>
      <p class="text-danger" ng-show="(registerForm.confirm.$dirty || registerForm.$submitted) && registerForm.confirm.$error.pattern">Confirmation doesn't match password!</p>
      <input id="confirm" type="password" placeholder="Confirm Your Password" class="form-control" name="confirm" ng-model="register.credentials.confirm" required ng-pattern="register.credentials.password">
    </div>
    <div class="form-group">
      <label for="deliveryAddress">Delivery Address</label>
      <textarea name="deliveryAddress" id="deliveryAddress" cols="30" rows="10" placeholder="Enter Delivery Address" ng-model="register.credentials.deliveryAddress" class="form-control"></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" form="registerForm" type="submit">Sign Up</button>
  <button class="btn btn-warning" type="button" ng-click="register.cancel()">Cancel</button>
</div>