<h3>You have a message sent from Cosmetico Contact Form</h3>
<p>Message was sent by: <%= message.firstName %> <%= message.lastName%></p>
<p>From address: <%= message.email %></p>
<p><%= message.message %></p>