<h3>Dear <%= user.firstName %></h3>
<p>To proceed restoring password, please, follow by the link <a href="<%= user.url %>"><%= user.url %></a></p>
<p>After doing that you will be able to create new password.</p>
<p>With Best Regards, </p>
<p><i>Cosmetico Team</i></p>