<h3>Dear <%= user.firstName %></h3>
<p>Thank you for registration at Cosmetico. To start using your account you have to verify your email: <b><%= user.email %></b> with transfer by the following link <a href="<%= user.url %>"><%= user.url %></a></p>
<p>After doing that you will be able to access to all our services.</p>
<p>With Best Regards, </p>
<p><i>Cosmetico Team</i></p>