<div class="bottom-nav">
	<section>
		<h4>Informations</h4>
		<ul>
			<li><a href="">Our Blog</a></li>
			<li><a href="">About our shop</a></li>
			<li><a href="">Secure shopping</a></li>
			<li><a href="">Privacy policy</a></li>
			<li><a href="">Delivery informations</a></li>
		</ul>
	</section>
	<section>
		<h4>Customer care</h4>
		<ul>
			<li><a href="">Contact us</a></li>
			<li><a href="">Site map</a></li>
			<li><a href="">Top sales &amp; bestsellers</a></li>
			<li><a href="">Gift vouchers</a></li>
		</ul>
	</section>
	<section>
		<h4>Your account</h4>
		<ul>
			<li><a href="">Order status</a></li>
			<li><a href="">My wishlist</a></li>
			<li><a href="">Edit delivery address</a></li>
			<li><a href="">Order history</a></li>
			<li><a href="">Newsletter</a></li>
		</ul>
	</section>
	<section>
		<h4>Be in touch</h4>
		<address>
			Cosmetico Shop
			Good Town 122, Beaty Centre <br>
			(011) 212 222 22
		</address>
		<ul class="social-links">
			<li><a href=""><span class="fa fa-facebook"></span></a></li>
			<li><a href=""><span class="fa fa-twitter"></span></a></li>
			<li><a href=""><span class="fa fa-comment"></span></a></li>
			<li><a href=""><span class="fa fa-rss"></span></a></li>
		</ul>
	</section>
</div>