<div class="top-nav" ng-controller="TopNavController as topNav">
	<ul>
		<li><a href="">Checkout</a></li>
		<li ng-if="!topNav.user"><a href="" ng-click="topNav.showLoginForm()">Log in</a></li>
		<li ng-if="topNav.user"><a href="">Log out</a></li>
		<li ng-if="!topNav.user"><a href="" ng-click="topNav.showRegisterForm()">Register</a></li>
		<li><a href="" ng-click="topNav.showContactForm()">Contact</a></li>
		<li ng-if="topNav.user && topNav.user.roles.indexOf('admin') !== -1"><a href="">Dashboard</a></li>
	</ul>
</div>