<div class="container-fluid">
  <div  class="container" ng-include="'../modules/layout/header/header.html'"></div>
  <hr>
  <div class="container" ng-include="'../modules/layout/navigation/views/navbar.html'"></div>
  <div ui-view>
  </div>
  <div class="subscription" ng-include="'../modules/layout/subscription/subscription.html'"></div>
  <div class="container" ng-include="'../modules/layout/navigation/views/bottom-nav.html'"></div>
  <hr>
  <div class="container" ng-include="'../modules/layout/footer/footer.html'"></div>
</div>