<div class="modal-header">
  <h3 class="modal-title">Congratulations!</h3>
</div>
<div class="modal-body">
  Dear {{message.user.firstName}}! Thanks for registration at Cosmetico. We have sent to <b>{{message.user.email}}</b> verification email. Please, verify your email address by clicking provided link. This link will be available during 1 hour. Thanks in advance!
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="message.cancel()">Close</button>
</div>