<div class="user-nav" ng-controller="UserNavController as userNav">
	<ul>
		<li ng-if="userNav.user"><a href="">My wishlist <span>(0)</span></a></li>
		<li>
			<select name="currency" ng-options="currency.name for currency in userNav.currencies" ng-model="userNav.currency" class="form-control">
			</select>
		</li>
		<li class="user-cart">
			<button popover-template="userNav.template" type="button" popover-placement="bottom" class="btn btn-cart"></button>
			<span class="total-qty">0</span>
			<span class="total-amount">$0.00</span>
		</li>
	</ul>
</div>
<script type="text/ng-template" id="cart.preview.html">
	<section class="cart-preview">
		<ul>
			<li ng-repeat="item in userNav.cart">
				<figure>
					<img ng-src="{{item.thumb}}" alt="{{item.title}}">
					<figcaption>
						{{item.title}}
						<span class="price">{{item.price}}</span>
					</figcaption>
				</figure>
				<button type="button" class="close" aria-label="Close" ng-click="userNav.removeItem(item)"><span aria-hidden="true">&times;</span>
				</button>
			</li>
		</ul>
		<div class="form-group">
			<button class="btn btn-primary">Buy Items</button>
		</div>
	</section>
</script> 